<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="is" lang="is" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @page_title || tr(current_government.name,"Name from database") %></title>
<%= render :partial => "shared/description" %>
<%= render :partial => "shared/head" %>
<%= render :partial => "shared/javascripts" %>
<%= render :partial => "shared/css" %>
<%= render :partial => "shared/priority_processes_head" if controller_name.index("process") %>
<% if controller_name == "users" %>
 <%= stylesheet_link_tag "fb_invite_hack" %>
<% end %>
<%= javascript_include_tag "skuggathing.js" unless controller_name=="priority_processes" %>
<% if ["users","sessions"].include?(controller_name)  %>
  <%= stylesheet_link_tag "jquery.keypad" %>
  <%= javascript_include_tag "jquery.keypad.min.js" %>
<% end %>
<% if controller_name == "priorities" and action_name == "show" %>
  <%= render :partial=>"priorities/fb_og_tags" %>
<% end %>
<%= tr8n_scripts_tag %>
</head>
<body>

<%= csrf_meta_tag %>

<div id="backgroundwrap">
	<div id="contentwrap">
  	<%= yield :layout %>
	</div>
</div>

<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/analytics" %>
<%= render :partial => "shared/facebook_footer" %>
<%= render :partial => "shared/google_translate" %>

</body>
</html>
